* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background: url("../images/concrete_seamless.png");
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    
}
 .header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc; 
    z-index: 99;   
 }

nav {
    display: flex;
    justify-content: space-between;
    width: 260px;
}
nav a {
    color: #999;
}
#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    width: 250px;
    height: 90px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 210px;
    background-color: #fff;
    border: 1px solid  #ddd;  
    padding: 30px; 
}
.sidebar img {
    width: 30%;
}
h2  {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #eee;
    color: #4aaaa5;
    font-family: Georgia,Times, Times New Roman, serif;
    font-size: 22px;
    font-weight: 700;
    height: 50px;
    
}
.cat {
    float: left;
    width: 200px;
    margin-right: 25px;
    margin-top: 10px;
}

p { 
    line-height: 35px;
    width:100%;  
}
.form {
    display: flex;
    flex-direction: column;
    
}
form li {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}
input , textarea { 
     padding-left: 8px;
     font-size: 15px;
     height: 40px;
     border: 1px solid  #ddd;
}
#message {
    height: 200px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 140px;
    background-color: #4aaaa5;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
}
h1 {
    border-bottom: 3px solid #ddd;
    line-height: 50px;
    font-size: 30px ;
    color: #4aaaa5;
    font-family: Georgia,Times, Times New Roman, serif;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footter {
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-size: 12px;
    color: #ccc;
    padding: 30px; 
}
.portfolio img {
    width: 274px;
    height: 200px;
    opacity: 0.8;
    margin-top: 30px;
}
.kart {
    position: relative;
}
.kart h3 {
    position: absolute;
    bottom: 30px;
    float: left;
    padding: 15px;
    width: 274px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-family: Georgia, Times, "Times New Roman", serif ;
    font-weight: 300;   
} 
.aboutme , .contact , .portfolio  {
    background-color: #fff;
    border: 1px solid  #ddd;
    float: left;
    max-width: 650px;
    width: 100%;
    padding:35px;
}
.container2 {
    display: flex;
    justify-content: space-between;
    padding:70px 280px ;
    padding-top: 130px;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom:50px;
    
}


